body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    margin-left: 10px;
}

.controls {
    margin: 10px;
}

#map {
    height: 90vh;
    width: 100%;
}

button {
    padding: 6px 12px;
    margin-left: 10px;
}